{% extends "base.html" %}

{% block page_name %}
    {{room.name}}
{% endblock page_name%}

{% block content %}
    <div>
    <h2>{{room.name}}</h2>
    <h3>{{room.description}}</h3>
    </div>
    <div>
        <h3>By : <a href="{{room.host.get_absolute_url}}">{{room.host.username}} </a>
        {% if room.host.superhost %}
            (superhost)
        {% endif %}
        </h3>

        <h4>Amenities</h4>
        <ul>
        {% for a in room.amenities.all %}
            <li>{{a}}</li>
        {% endfor %}
        </ul>


        <h4>Facilities</h4>
        <ul>
        {% for f in room.facilities.all %}
            <li>{{f}}</li>
        {% endfor %}
        </ul>

        <h4>House Rules</h4>
        <ul>
        {% for r in room.house_rules.all %}
            <li>{{r}}</li>
        {% endfor %}
        </ul>

    </div>
{% endblock %}